<a href="https://colab.research.google.com/github/vineetyadav/DataScienceR/blob/master/Clinical_trails.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Clinical Patient Notes Kagggle

# New Section

# Loading DataSet in google colab

Install Kaggle Library

In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

 Create a directory named “.kaggle”

In [2]:
! mkdir ~/.kaggle

Copy Kaggle Json in directory

In [3]:
! cp kaggle.json ~/.kaggle/

Provide permission to File

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

Downloading Competitions dataset:

In [5]:
! kaggle competitions download -c nbme-score-clinical-patient-notes

Downloading nbme-score-clinical-patient-notes.zip to /content
 61% 6.00M/9.83M [00:00<00:00, 60.9MB/s]
100% 9.83M/9.83M [00:00<00:00, 86.6MB/s]

In [6]:
!ls

kaggle.json  nbme-score-clinical-patient-notes.zip  sample_data

In [7]:
!unzip /content/nbme-score-clinical-patient-notes.zip

Archive:  /content/nbme-score-clinical-patient-notes.zip
  inflating: features.csv
  inflating: patient_notes.csv
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

# Exploring Dataset

## import all required packages

In [8]:
import pandas as pd
import matplotlib.pyplot as mlpt 
import numpy as np
import os

Exploring training, test and original dataset.

In [9]:
dataset = pd.read_csv("patient_notes.csv")
dataset.head()

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

In [10]:
train_dataset = pd.read_csv("train.csv")
train_dataset.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [11]:
test_dataset = pd.read_csv("test.csv")
test_dataset.head()

          id  case_num  pn_num  feature_num
0  00016_000         0      16            0
1  00016_001         0      16            1
2  00016_002         0      16            2
3  00016_003         0      16            3
4  00016_004         0      16            4

Merge train dataset with orignal dataset

In [12]:
merged_train_dataset = train_dataset.merge(dataset,on="pn_num",how="inner")
merged_train_dataset.head()

,id,case_num_x,pn_num,feature_num,annotation,location,case_num_y,pn_history
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724'],0,HPI: 17yo M presents with palpitations. Patien...
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693'],0,HPI: 17yo M presents with palpitations. Patien...
2,00016_002,0,16,2,['chest pressure'],['203 217'],0,HPI: 17yo M presents with palpitations. Patien...
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']",0,HPI: 17yo M presents with palpitations. Patien...
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258'],0,HPI: 17yo M presents with palpitations. Patien...

In [13]:
loc = list(merged_train_dataset.loc[(merged_train_dataset.pn_num==224) & (merged_train_dataset.location!='[]'), 'location'].str.replace("['", "", regex=False).str.replace("']", "", regex=False))

In [14]:
import spacy
from spacy import displacy
nlp = spacy.blank('en')

In [15]:
text = merged_train_dataset[merged_train_dataset.pn_num==224].pn_history.values[0]
doc = nlp.make_doc(text)
ents = []
for l in loc:
    start, end = l.split(' ')
    ent = doc.char_span(int(start), int(end), label='annotation')
    ents.append(ent)
doc.ents = ents
color = {"Annotation": '#A32EFF'}
displacy.render(doc, style="ent", jupyter=True, options={'colors': color})

##Merge Test dataset with orignal dataset

In [16]:
merged_test_dataset = test_dataset.merge(dataset,on="pn_num",how="inner")
merged_test_dataset.head()

,id,case_num_x,pn_num,feature_num,case_num_y,pn_history
0,00016_000,0,16,0,0,HPI: 17yo M presents with palpitations. Patien...
1,00016_001,0,16,1,0,HPI: 17yo M presents with palpitations. Patien...
2,00016_002,0,16,2,0,HPI: 17yo M presents with palpitations. Patien...
3,00016_003,0,16,3,0,HPI: 17yo M presents with palpitations. Patien...
4,00016_004,0,16,4,0,HPI: 17yo M presents with palpitations. Patien...

In [17]:
merged_train_dataset['location'] = merged_train_dataset['location'].apply(ast.literal_eval)
merged_train_dataset.head()

NameError: ignored

In [18]:
from ast import literal_eval
merged_train_dataset["location_list"] = [literal_eval(x) for x in merged_train_dataset["location"]]

In [19]:
merged_train_dataset["location_new"] = merged_train_dataset["location"].replace("[","",regex=False).replace("]","",regex=False)
merged_train_dataset["location_new"]

0                 ['696 724']
1                 ['668 693']
2                 ['203 217']
3        ['70 91', '176 183']
4                 ['222 258']
                 ...
14295                      []
14296                      []
14297             ['274 282']
14298             ['421 437']
14299             ['314 330']
Name: location_new, Length: 14300, dtype: object

In [20]:
merged_train_dataset["location_list"]

0               [696 724]
1               [668 693]
2               [203 217]
3        [70 91, 176 183]
4               [222 258]
               ...
14295                  []
14296                  []
14297           [274 282]
14298           [421 437]
14299           [314 330]
Name: location_list, Length: 14300, dtype: object

In [21]:
! pip install spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (2.2.4)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.9.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.64.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.1.3)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.21.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.6)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.0)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (7.4.0)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy) (3.8.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)

In [22]:
import spacy.cli
spacy.cli.download("en_core_web_sm")

✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [23]:
entity ="Phrase"
import ast
#print(merged_train_dataset.columns)
#merged_train_dataset.apply(lambda x: (, 'cols': x.tolist()[1:]), axis=1).tolist()
x = merged_train_dataset.apply(lambda x: (x['pn_history'],{'entries':[(ast.literal_eval(x['location']),entity)]}),axis=1)
print(x[0][1])

{'entries': [(['696 724'], 'Phrase')]}

In [64]:
import random
from spacy.util import minibatch, compounding
from pathlib import Path
def ner_train(train_instance):
  # Disable pipeline components you dont need to change
  nlp=spacy.load('en_core_web_sm')
  pipe_exceptions = ["ner", "trf_wordpiecer", "trf_tok2vec"]
  unaffected_pipes = [pipe for pipe in nlp.pipe_names if pipe not in pipe_exceptions]
  
  # Training for 30 iterations
  for iteration in range(30):

    # shuufling examples  before every iteration
    random.shuffle(train_instance)
    losses = {}
    # batch up the examples using spaCy's minibatch
    batches = minibatch(train_instance, size=compounding(4.0, 32.0, 1.001))
    for batch in batches:
        texts, annotations = zip(*batch)
        nlp.update(
                    texts,  # batch of texts
                    annotations,  # batch of annotations
                    drop=0.5,  # dropout - make it harder to memorise data
                    losses=losses,
                )
        print("Losses", losses)

In [67]:
def get_train_data(pn_num):
  paragraph_subset = merged_train_dataset[merged_train_dataset["pn_num"]==pn_num]
  locations = paragraph_subset["location"].apply(eval)
  text = paragraph_subset["pn_history"].head(1).item()
  #print(len(text))
  #print("Hi",text)
  ents = []
  entity_set = []
  start_entity = []
  end_entity = [] 
  for location in locations:
        for i in range(len(location)):
            for loc in location:
                val = loc.split()
                val_1 = [int(each) for each in val]
                if "-".join(val) not in entity_set:
                  ents.append(val_1+["Entity"])
                  entity_set.append("-".join(val))
                  entity_set = set(entity_set)
                  entity_set = list(entity_set)

  final_entity_dict = {"entities":ents}
  final_res = (text,final_entity_dict)
  return final_res
get_train_data(46)

('Mr. Cleveland is a 17yo M who was consented by parents to be alone today and provide information.  He has no notable PMH and presented today with palpitations that have been occurring sporadically for 2-3 months.  He started college 7-8 months ago and described feelings of nervousness and anxiousness with starting school and exams.  He endorses using his roommates prescription adderall to study for tests and this coincides with the palpitations at times.  Nothing makes his palpitations worse or better when they occur.  ROS is negative except for light headedness and SOB.  He has not had any cold/heat intolerance, diarrhea, changes in voiding habits, or weight loss.  Worried about being able to play basketball.\r\n\r\nMeds:  Adderall from his roommate\r\nPMH:  none\r\nPSH:  none\r\nAll:  NKDA\r\nFamily:  mom: thyroid issues, father: heart attack\r\nsocial:  no tob, occ EtOH, no illicits\r\nsex:  with gf, use condoms\r\ndiet:  good\r\nexercise:  basketball',
 {'entities': [[824, 844, 'Entity'],
   [803, 822, 'Entity'],
   [184, 196, 'Entity'],
   [552, 568, 'Entity'],
   [582, 619, 'Entity'],
   [380, 388, 'Entity'],
   [730, 738, 'Entity'],
   [573, 576, 'Entity'],
   [146, 158, 'Entity'],
   [436, 448, 'Entity'],
   [478, 490, 'Entity'],
   [197, 211, 'Entity'],
   [19, 23, 'Entity'],
   [24, 25, 'Entity']]})

In [68]:

train_data = []
unique_pn_num = merged_train_dataset.pn_num.unique()
for each_pn_num in unique_pn_num:
  try:  
    train_instance = get_train_data(each_pn_num)
    train_data.append(train_instance)
  except:
    print("error for pn_num",each_pn_num )

error for pn_num 82
error for pn_num 211
error for pn_num 225
error for pn_num 234
error for pn_num 344
error for pn_num 372
error for pn_num 390
error for pn_num 464
error for pn_num 495
error for pn_num 510
error for pn_num 575
error for pn_num 583
error for pn_num 653
error for pn_num 669
error for pn_num 673
error for pn_num 699
error for pn_num 701
error for pn_num 719
error for pn_num 768
error for pn_num 777
error for pn_num 796
error for pn_num 804
error for pn_num 810
error for pn_num 817
error for pn_num 821
error for pn_num 831
error for pn_num 861
error for pn_num 883
error for pn_num 970
error for pn_num 987
error for pn_num 1010
error for pn_num 1133
error for pn_num 1146
error for pn_num 1149
error for pn_num 1151
error for pn_num 1165
error for pn_num 1173
error for pn_num 1209
error for pn_num 1250
error for pn_num 1264
error for pn_num 1581
error for pn_num 1587
error for pn_num 1613
error for pn_num 1622
error for pn_num 1694
error for pn_num 1699
error for pn_num 1723
error for pn_num 1809
error for pn_num 1847
error for pn_num 1855
error for pn_num 1939
error for pn_num 1948
error for pn_num 2151
error for pn_num 2163
error for pn_num 2198
error for pn_num 2201
error for pn_num 2223
error for pn_num 2285
error for pn_num 2290
error for pn_num 2315
error for pn_num 2428
error for pn_num 2430
error for pn_num 10010
error for pn_num 10019
error for pn_num 10028
error for pn_num 10030
error for pn_num 10044
error for pn_num 10047
error for pn_num 10067
error for pn_num 10075
error for pn_num 10101
error for pn_num 10123
error for pn_num 10131
error for pn_num 10180
error for pn_num 10181
error for pn_num 10183
error for pn_num 10192
error for pn_num 10196
error for pn_num 10201
error for pn_num 10206
error for pn_num 10216
error for pn_num 10223
error for pn_num 10227
error for pn_num 10228
error for pn_num 10233
error for pn_num 10267
error for pn_num 10268
error for pn_num 10269
error for pn_num 10316
error for pn_num 10321
error for pn_num 10329
error for pn_num 10341
error for pn_num 10345
error for pn_num 10354
error for pn_num 10358
error for pn_num 10360
error for pn_num 10369
error for pn_num 10384
error for pn_num 10454
error for pn_num 10459
error for pn_num 10460
error for pn_num 10487
error for pn_num 10502
error for pn_num 10536
error for pn_num 10537
error for pn_num 10538
error for pn_num 10542
error for pn_num 10555
error for pn_num 10589
error for pn_num 10592
error for pn_num 10593
error for pn_num 10608
error for pn_num 10620
error for pn_num 10622
error for pn_num 10639
error for pn_num 10645
error for pn_num 10665
error for pn_num 10693
error for pn_num 10738
error for pn_num 10747
error for pn_num 10750
error for pn_num 10772
error for pn_num 10780
error for pn_num 10785
error for pn_num 10814
error for pn_num 10819
error for pn_num 10820
error for pn_num 10822
error for pn_num 10846
error for pn_num 10850
error for pn_num 10851
error for pn_num 10852
error for pn_num 10854
error for pn_num 10860
error for pn_num 10869
error for pn_num 10888
error for pn_num 10911
error for pn_num 10926
error for pn_num 10944
error for pn_num 10952
error for pn_num 10968
error for pn_num 10970
error for pn_num 10972
error for pn_num 10988
error for pn_num 20040
error for pn_num 20118
error for pn_num 20203
error for pn_num 20225
error for pn_num 20259
error for pn_num 20303
error for pn_num 20304
error for pn_num 20360
error for pn_num 20377
error for pn_num 20383
error for pn_num 20388
error for pn_num 20445
error for pn_num 20507
error for pn_num 20540
error for pn_num 20572
error for pn_num 20588
error for pn_num 20643
error for pn_num 20666
error for pn_num 20683
error for pn_num 20747
error for pn_num 20755
error for pn_num 20772
error for pn_num 20791
error for pn_num 21114
error for pn_num 21141
error for pn_num 21188
error for pn_num 21214
error for pn_num 21268
error for pn_num 21269
error for pn_num 21282
error for pn_num 21285
error for pn_num 21288
error for pn_num 21317
error for pn_num 21325
error for pn_num 21372
error for pn_num 21391
error for pn_num 21427
error for pn_num 21540
error for pn_num 21614
error for pn_num 21627
error for pn_num 21630
error for pn_num 21686
error for pn_num 21706
error for pn_num 21724
error for pn_num 21730
error for pn_num 21773
error for pn_num 21807
error for pn_num 21844
error for pn_num 21880
error for pn_num 21905
error for pn_num 21909
error for pn_num 21997
error for pn_num 22015
error for pn_num 22023
error for pn_num 22083
error for pn_num 22091
error for pn_num 30037
error for pn_num 30549
error for pn_num 30591
error for pn_num 30628
error for pn_num 31368
error for pn_num 31408
error for pn_num 31534
error for pn_num 31663
error for pn_num 31759
error for pn_num 31800
error for pn_num 31952
error for pn_num 32588
error for pn_num 32614
error for pn_num 33417
error for pn_num 33531
error for pn_num 33563
error for pn_num 34251
error for pn_num 34264
error for pn_num 34659
error for pn_num 34742
error for pn_num 34803
error for pn_num 34827
error for pn_num 34873
error for pn_num 34986
error for pn_num 35092
error for pn_num 35360
error for pn_num 35441
error for pn_num 35741
error for pn_num 36485
error for pn_num 36668
error for pn_num 36682
error for pn_num 36990
error for pn_num 37140
error for pn_num 37240
error for pn_num 39044
error for pn_num 39059
error for pn_num 39276
error for pn_num 39338
error for pn_num 39921
error for pn_num 40045
error for pn_num 40085
error for pn_num 40139
error for pn_num 40187
error for pn_num 40426
error for pn_num 40573
error for pn_num 40642
error for pn_num 40705
error for pn_num 40923
error for pn_num 40974
error for pn_num 40984
error for pn_num 41021
error for pn_num 41058
error for pn_num 41065
error for pn_num 41067
error for pn_num 41089
error for pn_num 41130
error for pn_num 41281
error for pn_num 41288
error for pn_num 41318
error for pn_num 41376
error for pn_num 41434
error for pn_num 41658
error for pn_num 41685
error for pn_num 41707
error for pn_num 41775
error for pn_num 41825
error for pn_num 42031
error for pn_num 42084
error for pn_num 42113
error for pn_num 42160
error for pn_num 42273
error for pn_num 42356
error for pn_num 42406
error for pn_num 42427
error for pn_num 42462
error for pn_num 42499
error for pn_num 42520
error for pn_num 42523
error for pn_num 42528
error for pn_num 42543
error for pn_num 42574
error for pn_num 42580
error for pn_num 42625
error for pn_num 42646
error for pn_num 42700
error for pn_num 42726
error for pn_num 42786
error for pn_num 42802
error for pn_num 42815
error for pn_num 42823
error for pn_num 42930
error for pn_num 43003
error for pn_num 43074
error for pn_num 43118
error for pn_num 43241
error for pn_num 43252
error for pn_num 43311
error for pn_num 43368
error for pn_num 43451
error for pn_num 43522
error for pn_num 43546
error for pn_num 43574
error for pn_num 43669
error for pn_num 43693
error for pn_num 43724
error for pn_num 43819
error for pn_num 43912
error for pn_num 44005
error for pn_num 44061
error for pn_num 44247
error for pn_num 44254
error for pn_num 44299
error for pn_num 44328
error for pn_num 44364
error for pn_num 44382
error for pn_num 44391
error for pn_num 44480
error for pn_num 44534
error for pn_num 44544
error for pn_num 44612
error for pn_num 44641
error for pn_num 44815
error for pn_num 44866
error for pn_num 44921
error for pn_num 44958
error for pn_num 45218
error for pn_num 45266
error for pn_num 45497
error for pn_num 50072
error for pn_num 50199
error for pn_num 50375
error for pn_num 50535
error for pn_num 50541
error for pn_num 50571
error for pn_num 50607
error for pn_num 50615
error for pn_num 50877
error for pn_num 50886
error for pn_num 50897
error for pn_num 50910
error for pn_num 51040
error for pn_num 51065
error for pn_num 51250
error for pn_num 51403
error for pn_num 51426
error for pn_num 51439
error for pn_num 51454
error for pn_num 51475
error for pn_num 51533
error for pn_num 51760
error for pn_num 51939
error for pn_num 52051
error for pn_num 52140
error for pn_num 52317
error for pn_num 52323
error for pn_num 52390
error for pn_num 52512
error for pn_num 52588
error for pn_num 52661
error for pn_num 52714
error for pn_num 52745
error for pn_num 52835
error for pn_num 52874
error for pn_num 52890
error for pn_num 52910
error for pn_num 52932
error for pn_num 52979
error for pn_num 53035
error for pn_num 53039
error for pn_num 53092
error for pn_num 53129
error for pn_num 53152
error for pn_num 53161
error for pn_num 53327
error for pn_num 53373
error for pn_num 53527
error for pn_num 53698
error for pn_num 53711
error for pn_num 53840
error for pn_num 53954
error for pn_num 54131
error for pn_num 54207
error for pn_num 54220
error for pn_num 54222
error for pn_num 54226
error for pn_num 54228
error for pn_num 54323
error for pn_num 54341
error for pn_num 54459
error for pn_num 54511
error for pn_num 54517
error for pn_num 54660
error for pn_num 54791
error for pn_num 54804
error for pn_num 54889
error for pn_num 54901
error for pn_num 54957
error for pn_num 55009
error for pn_num 55012
error for pn_num 55035
error for pn_num 55060
error for pn_num 55083
error for pn_num 55117
error for pn_num 55153
error for pn_num 55230
error for pn_num 55410
error for pn_num 55507
error for pn_num 55578
error for pn_num 55584
error for pn_num 55601
error for pn_num 55634
error for pn_num 55825
error for pn_num 55853
error for pn_num 55923
error for pn_num 55930
error for pn_num 55992
error for pn_num 56372
error for pn_num 56456
error for pn_num 56517
error for pn_num 56522
error for pn_num 56535
error for pn_num 56642
error for pn_num 56697
error for pn_num 56841
error for pn_num 57026
error for pn_num 60004
error for pn_num 60056
error for pn_num 60059
error for pn_num 60078
error for pn_num 60095
error for pn_num 60111
error for pn_num 60116
error for pn_num 60121
error for pn_num 60173
error for pn_num 60229
error for pn_num 60235
error for pn_num 60247
error for pn_num 60248
error for pn_num 60266
error for pn_num 60315
error for pn_num 60319
error for pn_num 60417
error for pn_num 60421
error for pn_num 60466
error for pn_num 60469
error for pn_num 60517
error for pn_num 60564
error for pn_num 60585
error for pn_num 60619
error for pn_num 60620
error for pn_num 60666
error for pn_num 60671
error for pn_num 60699
error for pn_num 60700
error for pn_num 60702
error for pn_num 60749
error for pn_num 60757
error for pn_num 60770
error for pn_num 60792
error for pn_num 60798
error for pn_num 60802
error for pn_num 60867
error for pn_num 60911
error for pn_num 60913
error for pn_num 60941
error for pn_num 60951
error for pn_num 60962
error for pn_num 60977
error for pn_num 60998
error for pn_num 61003
error for pn_num 61054
error for pn_num 61086
error for pn_num 61125
error for pn_num 61152
error for pn_num 61164
error for pn_num 61185
error for pn_num 61205
error for pn_num 61218
error for pn_num 61232
error for pn_num 61244
error for pn_num 61289
error for pn_num 61357
error for pn_num 61361
error for pn_num 61407
error for pn_num 61414
error for pn_num 61482
error for pn_num 61497
error for pn_num 61548
error for pn_num 61552
error for pn_num 61556
error for pn_num 61591
error for pn_num 61642
error for pn_num 61643
error for pn_num 61657
error for pn_num 61663
error for pn_num 61668
error for pn_num 61673
error for pn_num 61718
error for pn_num 61738
error for pn_num 61747
error for pn_num 61761
error for pn_num 61765
error for pn_num 61768
error for pn_num 70163
error for pn_num 70221
error for pn_num 70276
error for pn_num 70399
error for pn_num 70412
error for pn_num 70442
error for pn_num 70445
error for pn_num 70507
error for pn_num 70511
error for pn_num 70616
error for pn_num 70730
error for pn_num 70749
error for pn_num 70786
error for pn_num 70792
error for pn_num 71014
error for pn_num 71031
error for pn_num 71194
error for pn_num 71213
error for pn_num 71344
error for pn_num 71432
error for pn_num 71531
error for pn_num 71551
error for pn_num 71562
error for pn_num 71649
error for pn_num 71653
error for pn_num 71658
error for pn_num 71735
error for pn_num 71777
error for pn_num 71861
error for pn_num 71865
error for pn_num 71953
error for pn_num 72030
error for pn_num 72125
error for pn_num 72206
error for pn_num 72225
error for pn_num 72557
error for pn_num 72558
error for pn_num 72566
error for pn_num 72572
error for pn_num 72660
error for pn_num 72757
error for pn_num 72765
error for pn_num 72790
error for pn_num 72905
error for pn_num 73153
error for pn_num 73155
error for pn_num 73296
error for pn_num 73356
error for pn_num 73431
error for pn_num 73490
error for pn_num 73555
error for pn_num 73635
error for pn_num 73640
error for pn_num 73681
error for pn_num 73974
error for pn_num 74009
error for pn_num 74016
error for pn_num 80039
error for pn_num 80042
error for pn_num 80066
error for pn_num 80098
error for pn_num 80245
error for pn_num 80307
error for pn_num 80341
error for pn_num 80357
error for pn_num 80394
error for pn_num 80439
error for pn_num 80441
error for pn_num 80493
error for pn_num 80525
error for pn_num 80529
error for pn_num 80686
error for pn_num 80706
error for pn_num 80802
error for pn_num 80857
error for pn_num 80919
error for pn_num 80929
error for pn_num 80946
error for pn_num 81015
error for pn_num 81138
error for pn_num 81195
error for pn_num 81320
error for pn_num 81385
error for pn_num 81416
error for pn_num 81538
error for pn_num 81548
error for pn_num 81575
error for pn_num 81672
error for pn_num 81678
error for pn_num 81687
error for pn_num 81773
error for pn_num 81811
error for pn_num 81856
error for pn_num 81876
error for pn_num 81877
error for pn_num 81900
error for pn_num 81984
error for pn_num 81985
error for pn_num 82005
error for pn_num 82022
error for pn_num 82028
error for pn_num 82080
error for pn_num 82187
error for pn_num 82434
error for pn_num 82494
error for pn_num 82515
error for pn_num 82622
error for pn_num 82752
error for pn_num 82799
error for pn_num 82843
error for pn_num 82848
error for pn_num 82904
error for pn_num 82967
error for pn_num 83185
error for pn_num 83199
error for pn_num 83333
error for pn_num 83376
error for pn_num 83400
error for pn_num 83514
error for pn_num 83575
error for pn_num 83598
error for pn_num 83757
error for pn_num 83794
error for pn_num 83843
error for pn_num 83893
error for pn_num 83907
error for pn_num 83918
error for pn_num 83939
error for pn_num 83953
error for pn_num 84000
error for pn_num 84055
error for pn_num 84095
error for pn_num 84105
error for pn_num 84231
error for pn_num 84255
error for pn_num 84273
error for pn_num 84366
error for pn_num 90127
error for pn_num 90178
error for pn_num 90213
error for pn_num 90223
error for pn_num 90229
error for pn_num 90325
error for pn_num 90478
error for pn_num 90633
error for pn_num 90637
error for pn_num 90640
error for pn_num 90719
error for pn_num 90766
error for pn_num 90900
error for pn_num 90911
error for pn_num 90922
error for pn_num 91036
error for pn_num 91233
error for pn_num 91251
error for pn_num 91253
error for pn_num 91299
error for pn_num 91304
error for pn_num 91500
error for pn_num 91509
error for pn_num 91563
error for pn_num 91594
error for pn_num 91601
error for pn_num 91613
error for pn_num 91711
error for pn_num 91721
error for pn_num 91736
error for pn_num 91776
error for pn_num 91922
error for pn_num 92081
error for pn_num 92097
error for pn_num 92118
error for pn_num 92194
error for pn_num 92203
error for pn_num 92224
error for pn_num 92263
error for pn_num 92300
error for pn_num 92364
error for pn_num 92385
error for pn_num 92419
error for pn_num 92464
error for pn_num 92564
error for pn_num 92590
error for pn_num 92596
error for pn_num 92655
error for pn_num 92680
error for pn_num 92688
error for pn_num 92699
error for pn_num 92768
error for pn_num 92985
error for pn_num 93113
error for pn_num 93115
error for pn_num 93138
error for pn_num 93160
error for pn_num 93216
error for pn_num 93296
error for pn_num 93346
error for pn_num 93362
error for pn_num 93413
error for pn_num 93486
error for pn_num 93527
error for pn_num 93534
error for pn_num 93554
error for pn_num 93634
error for pn_num 93694
error for pn_num 93712
error for pn_num 93731
error for pn_num 93779
error for pn_num 93853
error for pn_num 93972
error for pn_num 93988
error for pn_num 94167
error for pn_num 94243
error for pn_num 94260
error for pn_num 94271
error for pn_num 94306
error for pn_num 94315
error for pn_num 94372
error for pn_num 94465
error for pn_num 94475
error for pn_num 94561
error for pn_num 94592
error for pn_num 94609
error for pn_num 94656
error for pn_num 94726
error for pn_num 94754
error for pn_num 94979
error for pn_num 95046
error for pn_num 95066
error for pn_num 95128
error for pn_num 95145
error for pn_num 95243
error for pn_num 95330
error for pn_num 95333

In [73]:
#print(train_data[22])
ner_train(train_data)

ValueError: ignored